.navigation-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}

.navigation-link svg {
  fill: #959595;
}

.navigation-link.active svg {
  fill: #083749;
}

.navigation-link .label {
  color: #959595;
}

.navigation-link.active .label {
  color: #083749;
}
