.titlebar {
  height: 46px;
  min-height: 46px;
  background: white;
  color: #083749;

  font-size: 24px;
  line-height: 29px;

  display: flex;
  align-items: center;
  z-index: 2;
}

.titlebar > span {
  flex: 1;
  text-align: center;
}

.titlebar > button > svg {
  fill: #083749;
}

.titlebar > button {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  outline: none;
  margin: 0 4px;
  position: relative;
}

.titlebar .notifications-indicator {
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background: #CA1C1C;
  position: absolute;
  right: 8px;
  top: 4px;
}
